# Pythonの一般的な除外
*.pyc
*.pyo
__pycache__/
*.log
*.pot
*.py[co]
*.~ 
*.swp
*.swo
*.bak
*.orig
*.tmp
.DS_Store
*.env

# Django関連
db.sqlite3
media/
staticfiles/
venv/

# Reactの一般的な除外
node_modules/
build/
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
coverage/

# OSやエディタ関連
.DS_Store
.idea/
.vscode/
*.swp